body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #111;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  padding: .5em !important;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 1px solid #2ecc40 !important;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1, h2, h3, h4 {
  color: #fff;
}

.bid-input {
  margin: 15px 0;
  width: 8em;
  height: 4em;
} 

#voting-list .content{
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

#voting-list .header img{
  display: inline;
}

.song-info {
  float: right;
  margin-left: 1em;
  max-width: 10em;
}

.row {
  padding: 1rem;
}

.ui.tab {
  display: none;
  background: transparent;
  border: none;
}

.ui.segment.tab {
  box-shadow: none;
}

.description {
  color: #fff !important;
}

a.item {
  color: #fff !important;
}

a.item.active {
  color: #fff !important;
  border-color: #2ecc40 !important;
}

button {
  margin-top: 100px;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:8px 29px;
}

#track-names {
  height: 44vh;
  overflow: auto;
}

#playlist-names{
  height: 44vh;
  overflow: auto;
}

.ui.secondary.pointing.menu .item {
  padding: .5em 2em;
}

.ui.menu {
  min-height: 1.75em;
}

h2.friend-initial {
  color: #fff !important;
  padding: .25em .5em;
  margin: 0 1em;
  float: left;
  border: 1px solid;
  margin-right: .5em !important;
  width: 2em;
  text-align: center;

}

#voting-list {
  height: 42vh;
}

#user-name {
  margin-top: 1em;
  float: right;
}

.header {
  color: #fff !important;
}

img#img-brand {
  width: 50px;
  height: 50px;
}

video {
  display: none;
}

.voting-song-preview {
  background-size: cover !important;
  padding: 1.5em !important;
  display: inline-block;
}

div#right-panel {
  height: 84vh;
  border: 1px solid #eee;
  text-align: center;
}

div#search-results {
  overflow: auto;
  display: flex;
}

#search-results .header {
  font-size: 65%;
}

.ui.icon.input {
  width: 100%;
}

.modal .content {
  text-align: center;
}

.ui.page.modals.dimmer.transition.visible.active {
  background: #000;
}

h4#point-total {
  margin-top: -2em;
  margin-bottom: 0;
}

#friends {
  height: 40vh;
  overflow: auto;
}

.title-text {
  font-family: 'Press Start 2P', cursive;
}