body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #3C415E;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  padding: .75em .5em !important;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 1px solid #fff;
  
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1, h2, h3, h4 {
  color: #fff;
}

.bid-input {
  margin: 15px 0;
  width: 8em;
  height: 3em;
} 

#voting-list .content{
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

#voting-list .header img{
  display: inline;
}

.song-info {
  float: right;
  margin: 1em;
}

.row {
  padding: 1rem;
}

#game {
  height: 86vh;
}

.ui.tab {
  display: none;
  background: transparent;
  border: none;
}

.ui.segment.tab {
  box-shadow: none;
}

.description {
  color: #fff !important;
}

.ui.pointing.secondary.menu {
  font-size: 120%;
}

a.item {
  color: #fff !important;
}

a.item.active {
  color: #fff !important;
  border-color: #33f;
}

#game {
  margin: auto;
  width: 840px;
  height: 656px;
  background-color: black;
  text-align: center;
}

button {
  margin-top: 100px;
font-family:Arial;
font-size:15px;
font-weight:bold;
padding:8px 29px;
}