#player {
    font-size: 120%;
    color: white;
    text-align: center;
}

#player .button {
    padding: .5em 2em;
}

#player-controls {
    margin-top: 10px;
}

#player-song-info{
    font-size: 120%;
    line-height: 120%;
}